*{
    padding:0;
    margin:0;
}
.big-container{
    width:80%;
    margin:auto;
    border:1px solid black;
}   

.container1{
    display:flex;
    justify-content: space-between;
 
}
.child1{
    height: 60px;
    flex:0.3;
    background-color: aqua;
}
.child2{
    height: 60px;
    flex:0.2;
    background-color: rgb(255, 51, 0);
}
.container2{
    display:flex;
    justify-content:center;
}
.child3{
    height: 60px;
    flex:0.2;
    background-color: royalblue;
}
.container3{
    display:flex;
    justify-content:center;
}
.child4{
    height:30px;
    flex:0.1;
    background-color: pink;
    margin-top: 1%;
}
.pinkcontainer
{
    background-color: pink;
    padding: 2% ;
    margin-top: 1%;
}
.container4{
    display:flex;
    justify-content: space-between;
    margin: 1%;
}
.child5{
    height:20px;
    flex: 0.2;
    background-color: grey;
}
.child6{
    height:30px;
    flex: 0.3;
    background-color: grey;
}
.child7{
    height:20px;
    flex: 0.3;
    background-color: grey;
}
.container5{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}
.child8{
    height: 20px;
    flex: 0.2;
    background-color: grey;
}
.child9{
    height: 100px;
    flex: 0.7;
    background-color: grey;
}
.container6{
    
}
.child10{
    height: 20px;
    width: 30%;
    margin-left: 30.4%;
    background-color: grey;
}
.container7{
    display: flex;
    justify-content: space-evenly;
}
.child11{
    height: 20px;
    flex: 0.2;
}
.child12{
    height: 50px;
    flex: 0.3;
    background-color: grey;
}
.child13{
    height: 20px;
    flex: 0.3;
    align-self: center;
    background-color: grey;
}
.wcontainer{
    display: flex;
    justify-content: space-between;
   
}
 .w2container{
     flex: 0.5;
     display: flex;
     gap: 10px;
     
 }
    .child14{
        height: 30px;
        flex: 0.2;
        background-color:pink;
        border: 1px solid black;
        
    }
    .child15{
        height: 30px;
        flex: 0.2;
        background-color:pink;
        border: 1px solid black;
        
    }
    .child16{
        height: 30px;
        flex: 0.2;
        background-color:pink;
        border: 1px solid black;
        

     
 }
 .w3container{
      display: flex;
      flex: 0.5;  
      justify-content: flex-end;
}
.child17{
    height: 20px;
    flex: 0.2;
    background-color:grey;
    align-self: center;
}
